<!DOCTYPE html>
<html>
  <head>
    <title>Submitted !</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Your message has been submitted successfully !</h1>
    </body>
</html>